@font-face {
    font-family: 'Telesans Text Web';
    src: url('assets/fonts/Telesans Text Web-Regular.eot');
    src: url('assets/fonts/Telesans Text Web-Regular.eot?#iefix') format('embedded-opentype'), url('assets/fonts/Telesans Text Web-Regular.woff2') format('woff2'), url('assets/fonts/Telesans Text Web-Regular.woff') format('woff'), url('assets/fonts/Telesans Text Web-Regular.ttf') format('truetype'), url('assets/fonts/Telesans Text Web-Regular.svg#Telesans Text Web-Regular') format('svg');
    font-weight: 400;
    font-style: normal;
    font-stretch: normal;
}

@font-face {
    font-family: 'Telesans Text Web';
    src: url('assets/fonts/Telesans Text Web-Bold.eot');
    src: url('assets/fonts/Telesans Text Web-Bold.eot?#iefix') format('embedded-opentype'), url('assets/fonts/Telesans Text Web-Bold.woff2') format('woff2'), url('assets/fonts/Telesans Text Web-Bold.woff') format('woff'), url('assets/fonts/Telesans Text Web-Bold.ttf') format('truetype'), url('assets/fonts/Telesans Text Web-Bold.svg#Telesans Text Web-Bold') format('svg');
    font-weight: 700;
    font-style: normal;
    font-stretch: normal;
}

html,
body {
    background-color: #FFF;
    margin: 0;
}

.tile:hover {
    fill: orangered !important;
}

.d3-tip {
    line-height: 1;
    font-weight: bold;
    padding: 12px;
    background: rgba(0, 0, 0, 0.8);
    color: #fff;
    border-radius: 2px;
}


/* Creates a small triangle extender for the tooltip */

.d3-tip:after {
    box-sizing: border-box;
    display: inline;
    font-size: 10px;
    width: 100%;
    line-height: 1;
    color: rgba(0, 0, 0, 0.8);
    content: "\25BC";
    position: absolute;
    text-align: center;
}


/* Style northward tooltips differently */

.d3-tip.n:after {
    margin: -1px 0 0 0;
    top: 100%;
    left: 0;
}

.legend rect {
    fill: white;
    stroke: black;
    opacity: 0.8;
}